body {
    background:
            url("../images/rwb1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.games-rect {
    background: #fffff9;
    border: .5em solid red;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    opacity: .7;
    height: 12em;
    margin-top: 5em;
    margin-left: 5.5%;
    margin-bottom: 1em;
    text-align: center;
    width: 26%;
    position:relative;
}
.quiz-rect {
    background: #fffff9;
    border: .5em solid red;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    opacity: .7;
    height: 16em;
    margin-top: 0px;
    margin-left: 2%;
    margin-bottom: 1em;
    text-align: center;
    width: 30%;
    position:relative;
}
.gm-title {
    font-size: 15px;
}
.gm-btn {
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
}

.extraSP {
    border: 3em;
}

.result {
    background: #fffff9;
    border: .5em solid red;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    opacity: .6;
    margin-top: 1em;
    margin-left: 20%;
    margin-bottom: 1em;
    text-align: center;
    width: 60%;
}
.results-btn {
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: black !important;
}
.welcomeresult {
    background: #fffff9;
    border: .5em solid red;
    /*font-size: 15px;*/
    font-weight: bold;
    /*line-height: 20px;*/
    opacity: .6;
    margin-top: 1em;
    margin-left: 20%;
    margin-bottom: 1em;
    text-align: center;
    width: 60%;
    color: black !important;
}
.state-res {

}